@mixin btn {
  z-index: 10;
  position: absolute;
}

.itemBtn {
  color: grey;
}

.sofa {
  @include btn;
  bottom: 10rem;
  left: 25rem;
}

.art {
  @include btn;
  top: 15rem;
  right: 11rem;
}

.ottoman {
  @include btn;
  bottom: 14rem;
  right: 15rem;
}

.paint {
  @include btn;
  top: 9rem;
  right: 18rem;
}

.chair {
  @include btn;
  bottom: 21rem;
  left: 31rem;
}

@media only screen and (max-width: 1644px) {
}

@media only screen and (max-width: 1544px) {
}

@media only screen and (max-width: 1444px) {
}

@media only screen and (max-width: 1344px) {
}

@media only screen and (max-width: 902px) {
}

@media only screen and (max-width: 802px) {
}

@media only screen and (max-width: 702px) {
}

@media only screen and (max-width: 602px) {
}
