@mixin btn {
  z-index: 10;
  position: absolute;
}

.itemBtn {
  color: grey;
}

.sofa {
  @include btn;
  bottom: 10rem;
  left: 25rem;
}

.art {
  @include btn;
  top: 15rem;
  right: 11rem;
}

.ottoman {
  @include btn;
  bottom: 14rem;
  right: 15rem;
}

.paint {
  @include btn;
  top: 9rem;
  right: 18rem;
}

.chair {
  @include btn;
  bottom: 21rem;
  left: 31rem;
}
