.footer {
  background-color: #f4f0ec;
  bottom: 0;
  padding: 0.3rem;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footerText {
  font-size: 20px;
  margin-bottom: 10px;
}

.github {
  margin-bottom: 0.5rem !important;
}

@media only screen and (max-width: 702px) {
  .footer {
    visibility: collapse;
  }
}
