.footer {
  background-color: #92b09a;
  bottom: 0;
  padding: 0.3rem;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footerText {
  font-size: 20px;
}

.github {
  margin-bottom: 0.5rem !important;
}

// iPhone 12 Pro Max
@media only screen and (max-width: 428px) {
  .footer {
    position: fixed;
  }

  .footerText {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .github {
    span {
      font-size: 12px;
    }
  }
}

// iPhone 12 and smaller
@media only screen and (max-width: 390px) {
  .footer {
    position: fixed;
  }

  .footerText {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .github {
    span {
      font-size: 12px;
    }
  }
}
