// font-family: 'Fira Mono', monospace;
// #92b09a
// #32443a
// #e5d3d1
// #fdf6ec

html,
body {
  margin: 0;
  font-family: "Cormorant", serif;
  background-color: #e5d3d1;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel img {
  width: 1100px !important;
}

@mixin imgbreak($imgwidth) {
  .carousel img {
    width: $imgwidth !important;
  }
}

// This seems to be the best way to manage carousel responsiveness with absolute positioned buttons
// This also really sucks to work on
// RH used this method with slick-carousel

// Widescreen / Ultra-Widescreen
@media only screen and (min-width: 2446px) {
  @include imgbreak(1200px);
}

@media only screen and (min-width: 2582px) {
  @include imgbreak(1300px);
}

// 1920x1080 Standard
@media only screen and (max-height: 1080px) {
  @include imgbreak(1000px);
}

// Decreasing from 16:9
@media only screen and (max-width: 1644px) {
  @include imgbreak(1000px);
}

@media only screen and (max-width: 1544px) {
  @include imgbreak(900px);
}

@media only screen and (max-width: 1444px) {
  @include imgbreak(800px);
}

@media only screen and (max-width: 1344px) {
  @include imgbreak(900px);
}

@media only screen and (max-width: 902px) {
  @include imgbreak(800px);
}

@media only screen and (max-width: 802px) {
  @include imgbreak(700px);
  .popover-header {
    font-size: 14px;
  }
  .popover-body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 702px) {
  @include imgbreak(600px);
}

@media only screen and (max-width: 602px) {
  @include imgbreak(500px);
  html {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 502px) {
  @include imgbreak(420px);
}

// iPhone X
@media only screen and (max-width: 375px) {
  @include imgbreak(370px);
}
