.header {
  background-color: #f4f0ec;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 2.6rem;
  padding-top: 2rem;
}

.logo {
  margin: 0.5rem 0;
}

.socialGroup {
  margin-right: 1rem;
  align-items: center;
  display: flex;
  button {
    color: black;
  }
  span {
    color: black;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 30px;
  }

  .socialGroup {
    button {
      font-size: 14px;
    }
  }
}

// iPhone 12 Pro Max
@media only screen and (max-width: 428px) {
  .logo {
    display: none;
  }

  .title {
    margin-left: 0.5rem;
    padding-top: 5px;
    font-size: 26px;
  }

  .header {
    justify-content: space-around;
  }

  .socialGroup {
    margin-right: 0.5rem;

    button {
      font-size: 13px;
    }
  }
}

// iPhone X
@media only screen and (max-width: 390px) {
  .title {
    margin-left: 0.5rem;
    padding-top: 5px;
    font-size: 24px;
  }

  .header {
    justify-content: space-around;
  }

  .socialGroup {
    margin-right: 0.5rem;

    button {
      font-size: 11px;
    }
  }
}
