.header {
  background-color: #92b09a;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 2rem;
}

.socialGroup {
  align-items: center;
  display: flex;
  margin-right: 2rem;
  button {
    color: black;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 30px;
  }

  .socialGroup {
    button {
      font-size: 14px;
    }
  }
}

// iPhone 12 Pro Max
@media only screen and (max-width: 428px) {
  .title {
    margin-left: 0.5rem;
    padding-top: 5px;
    font-size: 26px;
  }

  .header {
    justify-content: space-around;
  }

  .socialGroup {
    margin-right: 0.5rem;

    button {
      font-size: 13px;
    }
  }
}

// iPhone X
@media only screen and (max-width: 390px) {
  .title {
    margin-left: 0.5rem;
    padding-top: 5px;
    font-size: 24px;
  }

  .header {
    justify-content: space-around;
  }

  .socialGroup {
    margin-right: 0.5rem;

    button {
      font-size: 11px;
    }
  }
}
