.header {
  background-color: #92b09a;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 2rem;
}

.socialGroup {
  align-items: center;
  display: flex;
  margin-right: 2rem;
  button {
    color: black;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 30px;
  }

  .socialGroup {
    button {
      font-size: 14px;
    }
  }
}
