.mainBody {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.carouselMain {
  position: relative;
  width: 100%;
  margin-right: 4rem;
  margin-top: 5rem;
}

.testGroup0 {
  z-index: 10;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.itemBtn {
  color: grey;
}

.roomText {
  padding: 3rem;
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1344px) {
  .mainBody {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .carouselMain {
    margin-right: 0;
    margin-top: 3rem;
    width: fit-content;
  }

  .roomText {
    width: 80%;
    text-align: center;
  }
}

@media only screen and (max-width: 902px) {
  .roomText {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
}
