.mainBody {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.carouselMain {
  position: relative;
  width: 100%;
  margin-right: 4rem;
  margin-top: 5rem;
}

.testGroup {
  z-index: 10;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.itemBtn {
  color: grey;
}

.roomText {
  padding: 3rem;
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 20px;
  }
}
