.mainBody {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.carousel {
  width: 65%;
  margin-right: 4rem;
  margin-top: 5rem;
}

.roomText {
  padding: 3rem;
  h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 20px;
  }
}
