@mixin btn {
  z-index: 10;
  position: absolute;
}

.itemBtn {
  color: grey;
}

.sofa {
  @include btn;
  bottom: 24rem;
  left: 35rem;
}

.art {
  @include btn;
  top: 15rem;
  right: 26rem;
}

.pillow {
  @include btn;
  bottom: 15rem;
  right: 14rem;
}

.lamp {
  @include btn;
  top: 11rem;
  right: 3rem;
}

.chair {
  @include btn;
  bottom: 6rem;
  left: 36rem;
}

// Widescreen / Ultra-Widescreen
@media only screen and (min-width: 2446px) {
}

@media only screen and (min-width: 2582px) {
}

// 1920x1080 Standard (I now regret having a 1440p dev screen)
@media only screen and (max-height: 1080px) {
  .sofa {
    @include btn;
    bottom: 17rem;
    left: 35rem;
  }

  .art {
    @include btn;
    top: 15rem;
    right: 24rem;
  }

  .pillow {
    @include btn;
    bottom: 15rem;
    right: 12rem;
  }

  .lamp {
    @include btn;
    top: 11rem;
    right: 3rem;
  }

  .chair {
    @include btn;
    bottom: 6rem;
    left: 33rem;
  }
}

// This can't be the optimal way. Research this.
@media only screen and (max-width: 1644px) {
  .sofa {
    bottom: 18rem;
    left: 25rem;
  }

  .art {
    top: 13rem;
    right: 23rem;
  }

  .pillow {
    bottom: 13rem;
    right: 13rem;
  }

  .lamp {
    top: 11rem;
    right: 4rem;
  }

  .chair {
    bottom: 4rem;
    left: 34rem;
  }
}

@media only screen and (max-width: 1544px) {
  .sofa {
    bottom: 17rem;
    left: 25rem;
  }

  .art {
    top: 14rem;
    right: 22rem;
  }

  .pillow {
    bottom: 14rem;
    right: 10rem;
  }

  .lamp {
    top: 9rem;
    right: 4rem;
  }

  .chair {
    bottom: 4rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 1444px) {
  .sofa {
    bottom: 14rem;
    left: 20rem;
  }

  .art {
    top: 11rem;
    right: 18rem;
  }

  .pillow {
    bottom: 12rem;
    right: 9rem;
  }

  .lamp {
    top: 9rem;
    right: 3rem;
  }

  .chair {
    bottom: 4rem;
    left: 26rem;
  }
}

@media only screen and (max-width: 1344px) {
  .sofa {
    bottom: 16rem;
    left: 20rem;
  }

  .art {
    top: 12rem;
    right: 21rem;
  }

  .pillow {
    bottom: 14rem;
    right: 10rem;
  }

  .lamp {
    top: 10rem;
    right: 3rem;
  }

  .chair {
    bottom: 4rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 902px) {
  .sofa {
    bottom: 14rem;
    left: 20rem;
  }

  .art {
    top: 13rem;
    right: 19rem;
  }

  .pillow {
    bottom: 12rem;
    right: 9rem;
  }

  .lamp {
    top: 9rem;
    right: 3rem;
  }

  .chair {
    bottom: 3rem;
    left: 26rem;
  }
}

@media only screen and (max-width: 802px) {
  .sofa {
    bottom: 12rem;
    left: 18rem;
  }

  .art {
    top: 10rem;
    right: 16rem;
  }

  .pillow {
    bottom: 10rem;
    right: 8rem;
  }

  .lamp {
    top: 7rem;
    right: 2rem;
  }

  .chair {
    bottom: 3rem;
    left: 23rem;
  }
}

@media only screen and (max-width: 702px) {
  .sofa {
    bottom: 12rem;
    left: 18rem;
  }

  .art {
    top: 8rem;
    right: 14rem;
  }

  .pillow {
    bottom: 9rem;
    right: 7rem;
  }

  .lamp {
    top: 7rem;
    right: 2rem;
  }

  .chair {
    bottom: 3rem;
    left: 20rem;
  }
}

@media only screen and (max-width: 602px) {
  .sofa {
    bottom: 9rem;
    left: 14rem;
  }

  .art {
    top: 7rem;
    right: 11rem;
  }

  .pillow {
    bottom: 7rem;
    right: 6rem;
  }

  .lamp {
    top: 5rem;
    right: 2rem;
  }

  .chair {
    bottom: 2.5rem;
    left: 16rem;
  }
}

// iPhone X
@media only screen and (max-width: 375px) {
  .sofa {
    bottom: 6rem;
    left: 9rem;
  }

  .art {
    top: 5rem;
    right: 8rem;
  }

  .pillow {
    bottom: 5rem;
    right: 3rem;
  }

  .lamp {
    top: 4rem;
    right: 2rem;
  }

  .chair {
    bottom: 2rem;
    left: 12rem;
  }
}
