@mixin btn {
  z-index: 10;
  position: absolute;
}

.itemBtn {
  color: white;
}

.sofa {
  @include btn;
  bottom: 18rem;
  left: 35rem;
}

.rug {
  @include btn;
  bottom: 6rem;
  left: 20rem;
}

.bookcase {
  @include btn;
  bottom: 37rem;
  right: 8rem;
}

.paint {
  @include btn;
  top: 9rem;
  right: 18rem;
}

.table {
  @include btn;
  bottom: 9rem;
  left: 40rem;
}

@media only screen and (max-height: 1080px) {
  .sofa {
    bottom: 18rem;
    left: 35rem;
  }

  .rug {
    bottom: 6rem;
    left: 20rem;
  }

  .bookcase {
    bottom: 37rem;
    right: 8rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 9rem;
    left: 38rem;
  }
}

@media only screen and (max-width: 1544px) {
  .sofa {
    bottom: 18rem;
    left: 35rem;
  }

  .rug {
    bottom: 4rem;
    left: 18rem;
  }

  .bookcase {
    bottom: 34rem;
    right: 7rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 7rem;
    left: 35rem;
  }
}

@media only screen and (max-width: 1444px) {
  .sofa {
    bottom: 12rem;
    left: 25rem;
  }

  .rug {
    bottom: 3rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 29rem;
    right: 7rem;
  }

  .paint {
    top: 9rem;
    right: 14rem;
  }

  .table {
    bottom: 7rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 1344px) {
  .sofa {
    bottom: 15rem;
    left: 30rem;
  }

  .rug {
    bottom: 4rem;
    left: 14rem;
  }

  .bookcase {
    bottom: 30rem;
    right: 4rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 8rem;
    left: 35rem;
  }
}

@media only screen and (max-width: 902px) {
  .sofa {
    bottom: 15rem;
    left: 25rem;
  }

  .rug {
    bottom: 4rem;
    left: 14rem;
  }

  .bookcase {
    bottom: 30rem;
    right: 6rem;
  }

  .paint {
    top: 9rem;
    right: 15rem;
  }

  .table {
    bottom: 6rem;
    left: 30rem;
  }
}

@media only screen and (max-width: 802px) {
  .sofa {
    bottom: 12rem;
    left: 20rem;
  }

  .rug {
    bottom: 3rem;
    left: 14rem;
  }

  .bookcase {
    bottom: 25rem;
    right: 6rem;
  }

  .paint {
    top: 7rem;
    right: 12rem;
  }

  .table {
    bottom: 6rem;
    left: 26rem;
  }
}

@media only screen and (max-width: 702px) {
  .sofa {
    bottom: 11rem;
    left: 20rem;
  }

  .rug {
    bottom: 3rem;
    left: 10rem;
  }

  .bookcase {
    bottom: 22rem;
    right: 5rem;
  }

  .paint {
    top: 5rem;
    right: 11rem;
  }

  .table {
    bottom: 5rem;
    left: 23rem;
  }
}

@media only screen and (max-width: 602px) {
  .sofa {
    bottom: 9rem;
    left: 15rem;
  }

  .rug {
    bottom: 2rem;
    left: 9rem;
  }

  .bookcase {
    bottom: 18rem;
    right: 3rem;
  }

  .paint {
    top: 5rem;
    right: 9rem;
  }

  .table {
    bottom: 3rem;
    left: 20rem;
  }
}

// iPhone 12 Pro Max
@media only screen and (max-width: 428px) {
  .sofa {
    bottom: 6rem;
    left: 13rem;
  }

  .rug {
    bottom: 1.8rem;
    left: 5rem;
  }

  .bookcase {
    bottom: 12rem;
    right: 3rem;
  }

  .paint {
    top: 3rem;
    right: 7rem;
  }

  .table {
    bottom: 2rem;
    left: 17rem;
  }
}

// iPhone 12
@media only screen and (max-width: 390px) {
  .sofa {
    bottom: 5rem;
    left: 13rem;
  }

  .rug {
    bottom: 1.8rem;
    left: 5rem;
  }

  .bookcase {
    bottom: 12rem;
    right: 3rem;
  }

  .paint {
    top: 5rem;
    right: 7rem;
  }

  .table {
    bottom: 2rem;
    left: 17rem;
  }
}
