@mixin btn {
  z-index: 10;
  position: absolute;
}

.itemBtn {
  color: white;
}

.sofa {
  @include btn;
  bottom: 18rem;
  left: 35rem;
}

.rug {
  @include btn;
  bottom: 6rem;
  left: 20rem;
}

.bookcase {
  @include btn;
  bottom: 37rem;
  right: 8rem;
}

.paint {
  @include btn;
  top: 9rem;
  right: 18rem;
}

.table {
  @include btn;
  bottom: 9rem;
  left: 38rem;
}

@media only screen and (max-height: 1080px) {
  .sofa {
    bottom: 18rem;
    left: 35rem;
  }

  .rug {
    bottom: 6rem;
    left: 20rem;
  }

  .bookcase {
    bottom: 37rem;
    right: 8rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 9rem;
    left: 38rem;
  }
}

@media only screen and (max-width: 1544px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 1444px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 1344px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 902px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 802px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 702px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .table {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 602px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .rug {
    bottom: 15rem;
    left: 11rem;
  }

  .bookcase {
    bottom: 13rem;
    right: 16rem;
  }

  .paint {
    top: 10rem;
    right: 17rem;
  }

  .table {
    bottom: 20rem;
    left: 30rem;
  }
}
