@mixin btn {
  z-index: 10;
  position: absolute;
}

.itemBtn {
  color: white;
}

.sofa {
  @include btn;
  bottom: 10rem;
  left: 25rem;
}

.art {
  @include btn;
  top: 15rem;
  right: 11rem;
}

.ottoman {
  @include btn;
  bottom: 14rem;
  right: 15rem;
}

.paint {
  @include btn;
  top: 9rem;
  right: 18rem;
}

.chair {
  @include btn;
  bottom: 21rem;
  left: 31rem;
}

@media only screen and (max-height: 1080px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 13rem;
    right: 10rem;
  }

  .ottoman {
    bottom: 13rem;
    right: 13rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 18rem;
    left: 28rem;
  }
}

@media only screen and (max-width: 1644px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 13rem;
    right: 10rem;
  }

  .ottoman {
    bottom: 13rem;
    right: 13rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 18rem;
    left: 28rem;
  }
}

@media only screen and (max-width: 1544px) {
  .sofa {
    bottom: 9rem;
    left: 23rem;
  }

  .art {
    top: 13rem;
    right: 8rem;
  }

  .ottoman {
    bottom: 12rem;
    right: 12rem;
  }

  .paint {
    top: 10rem;
    right: 18rem;
  }

  .chair {
    bottom: 16rem;
    left: 26rem;
  }
}

@media only screen and (max-width: 1444px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 15rem;
    right: 11rem;
  }

  .ottoman {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 1344px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 15rem;
    right: 11rem;
  }

  .ottoman {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 902px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 15rem;
    right: 11rem;
  }

  .ottoman {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 802px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 15rem;
    right: 11rem;
  }

  .ottoman {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 702px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 15rem;
    right: 11rem;
  }

  .ottoman {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 21rem;
    left: 31rem;
  }
}

@media only screen and (max-width: 602px) {
  .sofa {
    bottom: 10rem;
    left: 25rem;
  }

  .art {
    top: 15rem;
    right: 11rem;
  }

  .ottoman {
    bottom: 14rem;
    right: 15rem;
  }

  .paint {
    top: 9rem;
    right: 18rem;
  }

  .chair {
    bottom: 21rem;
    left: 31rem;
  }
}
